@import url(https://fonts.bunny.net/css?family=averia-libre:300);
/* semantic color variables for this project */
:root {
  --color-background: #F8F4E3;
  --background-soft: #941B0C;
  --background-lighter: #4A6C6F;

  --color-text: var(--pantone-black);

  --pantone-171C: #ff673b;
  --pantone-black: #000000;
  --pantone-2645C: #ad96db;
  --pantone-100: #f5eb61;
  --pantone-333: #3ddbbf;
  --pantone-2726C: #475cc7;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Averia Libre', display, serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
